//Custom Css

/*Color Variables*/
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

body{
	margin:0;
	font-family: Helvetica;
	font-weight:lighter;	
}

.landing{
	background:url("http://www.michiramen.com/img/wood.jpg");
	height:100vh;
	width:100%;
	background-size:cover;
	background-attachment: fixed;
	position:fixed;

	nav{
		height:7vh;
		min-height:80px;
		display:fixed;
		top:0; 
		display:flex;
		align-items: center;
		background:black;
		position: fixed;
		width: 100%;
		z-index:200;


		.logo{
			display: flex;
			justify-content: flex-start;
			width:20%;
			align-items: center;
			height: 100%;

			img{
				width: 250px;
				padding-left:40px;
			}
		}

		.navlinks{
			display: flex;
			justify-content: flex-end;
			width:80%;

			ul{
				height: 100%;
				margin:0;
				padding:0;

			}

			ul li{
				display: inline-block;
				height: 100%;

			}

			a{
				color:white;
				text-decoration: none;
				font-size: 1.3em;
				letter-spacing: 1px;
				margin-right: 70px;
			}
		}
	}

	.contents{
		height: 100%;
		// background: red;
		width: 100%;
		position:relative;
		// padding-top:10vh;

		h1{
			text-align: center;
			font-size: 6em;
			margin:0;
			padding-top: 100px;
			color: white;
		}
		
		h2{
			text-align: center;
			width: 100%;
			font-size: 4em;
			color: white;
			text-shadow: 3px 3px black;
			text-transform: uppercase;
		}

		h3{
			color: white;
			font-size: 2em;
			font-weight: 400;
			letter-spacing: .07em;
			text-align: center;
		}


		.navigation{
			text-align:center;
			margin:auto;
			padding-top:80px;

			button{
				width:250px;
				font-size: 2em;
				padding:20px 0px 20px 0px;
				border-radius: 100px;
				text-transform: uppercase;
				font-family: 'Montserrat', sans-serif;
				border: 2px white;
				color: white;		
			}

			button:first-child{
				margin-right: 80px;
				background:transparent;
				border:4px solid;
			}

			#menu{
				background:#FFAB00;
				border: 10px solid #FFAB00;
				transition: .3s ease-in-out;
			}

			#menu:hover{
				background:transparent;
				border: 10px solid #FFAB00;
			}
		}

		#logo{
			width: 32%;
			margin:0 auto;
			display: block;
			top:80px;
			padding-top:80px;
		}

		#onbottom{
			width: 54%;
			margin:0 auto;
			display: block;
			left:0;
			right:0;
			opacity: 1;
			position:absolute;
			bottom:0;
		}


	}
}

.quicklist{
	height:25vh;
	background:#212121;
	padding-top:100vh;

	h3{
		text-align:center;
		margin:0;
		font-size: 3.3em;
		padding-top:60px;
		letter-spacing: .1em;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		color: white;
	}
}

.menu{
	background:#100B07;
	z-index:100;
	width:85%;
	margin-left:7.5%;
	border-radius:80px;
	position:relative;

	#drop{
		position:absolute;
		top:-80px;
		height:80px;
		left:0;
		right:0;
		margin:0 auto;
	}


	.icon{
		display: flex;
		justify-content: space-around;
		font-size: 20em;
	}

	.title{

		padding-left:200px;
		padding-right:200px;

		h1{
			color: white;
			font-size: 8em;
			margin:0;
			margin-bottom:100px;
			text-align: center;
			font-family: 'Montserrat';
		}

		.namedivider{
			width:100%;
			height: 200px;
			background:#DF771C;
			// margin-left: 2.5%;
			margin-top: 100px;
			margin-bottom: 50px;
			border-radius:80px;
			display: flex;
			align-items: center;
			justify-content: center;

			h3{
				color:black;
				font-size: 6em;
				font-family: 'Montserrat';

			}
		}

		.row{
			color:white;

			.col-md-4{
			}

			.card{
				padding-top:10px;
				width:95%;
				margin-left: 2.5%;
				padding-bottom:10px;
				background: rgba(225,225,225,.08);
				border-radius:80px;
				margin-bottom: 50px;
			}

			h4{
				font-size: 4.2em;
				text-align: center;
				margin-bottom:20px;
				color:#DF771C;
				font-weight: 400;
				font-family: 'Montserrat', sans-serif;

			}

			.card-text{
				font-size: 1.5em;
				padding: 0px 70px;
				margin-top:15px;
				margin-bottom:15px;
				text-align:center;
				opacity: .7;
			}

			.card-link{
				font-size: 2em;
				margin-bottom:0;
			}

			img{
				width: 80%;
				max-width: 450px;
				margin:0 auto;
				display: block;
			}

			.price{
				display: flex;
				justify-content: center;
				text-align: center;

				p:first-child{
					margin-right: 30px;
					margin-bottom:0px;
				}

				p{
					background:rgba(0,0,0,.4);
					padding:10px 30px;
					border-radius:10px;

				}
			}



		}

	}
}

.findastore{
	background:url("https://www.jackinthebox.com/images/locations-white-bg.jpg?w=561&h=420");
	height:300px;

	h3{
		text-align: center;
		font-size: 4em;
		padding-top:80px;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-family: 'Montserrat', sans-serif;
		transition: .3s ease-in-out;
		margin:0;
		margin-top:80px;
	}

	h3:hover{
		font-size: 6em;
	}
}